html {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}
header {
    border-bottom: 5px solid #1b2255 !important;
}
.rss {
    position: relative;
    width: 45px;
    height:auto;
}
.languageBar a{
 
    border-bottom: 1px solid transparent ;

}
.languageBar > a:hover{
    background: lightblue;
    border-bottom: 1px solid grey;

}
.navList li > a:hover {
    color: #020d59 !important;
}
.dds {
    padding: 0 !important;
}
.sliderImg {
    width: 100% !important;
    height: 500px !important;
}
.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.owl-nav button {
    display: inline-block;
  font-size: 80px !important;
    background-color: rgba(255, 255, 255, 0.3);
    color: #424241 !important;
}
.owl-nav button:hover {
    background-color: #b77511 !important;
    color: #fff !important;
}
.owl-dots {
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    
    justify-content: center;
}
.owl-dots button {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.3) !important;
    
}
.owl-dots button.active{
    background-color: rgba(254, 160, 19, 0.9) !important
}
.sec_2imgWrapper img {
    width: 100%;
    height: 230px;
}
.smth {
  
    height: 2px;
    background-color: #b77511;
}
.gallery div img {
    width: 100%;
    height: 230px;
}
.sec_5imgWrapper img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.smth_2 {
    height: 15px;
}
#smthS {
    display: none !important;
}
.smthSS {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: 4s;
    opacity: 0;
    max-width: 100% !important;
    height: 40vh;
    background-color: rgba(183, 117, 17, 0.7);
    z-index: 9999 !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    transform: translateY(-100%);
    padding: 0!important;
    
    
}
.smthSS li a {
    display: inline-block;
    text-decoration: none !important;
    color: #020d59 !important;
    width: 33%;
    height: 20vh;
    padding: 10px;
}
.burgerItems {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    margin-left: 30%;
}
.burgerz {
    z-index: 2222 !important;
}